<h1><?php echo $this->Html->link('Add Salary',array('controller' => 'salaries','action' => 'admin_add_salary')); ?></h1>
<h1><?php echo $this->Html->link('View Salary',array('controller' => 'salaries','action' => 'admin_view_salary')); ?></h1>