<div id="content">
 <table>
    
    <tr>
        <td><?php echo "Username :" ?></td>
        <td><?php echo $salary['User']['username']; ?></td> 
    </tr>
    <tr>
        <td><?php echo "Basic Salary :" ?></td>
        <td><?php echo $salary['Salary']['basic']; ?></td> 
    </tr>
    <tr>
        <td><?php echo "House Rent Allowance :" ?></td>
        <td><?php echo $salary['Salary']['houserent']; ?></td> 
    </tr>
    <tr>
        <td><?php echo "Conveyance Allowance :" ?></td>
        <td><?php echo $salary['Salary']['conveyance']; ?></td> 
    </tr>
    <tr>
        <td><?php echo "Medical Allowance :" ?></td>
        <td><?php echo $salary['Salary']['medical']; ?></td> 
    </tr>
    <tr>
        <td><?php echo "Lunch :" ?></td>
        <td><?php echo $salary['Salary']['lunch']; ?></td> 
    </tr> 
    
  </table>
</div>