
<?php echo $this->Html->script('custom'); ?>
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8"/>
   <title>Centering an Element on the Page</title>
</head>
<body>

<input type="text" onkeyup="AddInputs()" />
<input type="text" onkeyup="AddInputs()" />
<input type="text" onkeyup="AddInputs()" />
<span id="Display"></span>

</body>

</div>
</html>