<h1><center>
	<?php  echo $this->Html->link("Manage User",array('action' => 'info')); ?>
<center></h1>
<h1><center>
	<?php  echo $this->Html->link("Manage Salary",array('action' => 'info1')); ?>
<center></h1>

<?php
   echo $this->Html->link("User Options", array('controller' => 'Users','action'=> 'index'), array( 'class' => 'button1'))
?>	