<div style="margin-top:100px !important">
<fieldset class="field_set1">
    <legend>   
         <?php echo ('Please enter your username and password'); ?>
    </legend>
      <?php echo $this->Form->create('User'); ?>
         <?php 
         echo $this->Form->input('username');
         echo $this->Form->input('password');
         echo $this->Form->end(('Login')); 
         ?>
</fieldset>
</div>
